# Usage: pip install -r requirements.txt

-i https://download.pytorch.org/whl/cu102

torch==1.12.1+cu102
torchvision==0.13.1+cu102

#-i https://download.pytorch.org/whl/cu116
#
#torch==1.13.1+cu116 
#torchvision==0.14.1+cu116 
